body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

* {
    padding: 10px;
    text-align: center;
}

header {
    background-color: tomato;
}

.left-aside {
    background-color: gold;
}

.right-aside {
    background-color: hotpink;
}

main {
    background-color: deepskyblue;
}

footer {
    background-color: lightgreen;
}

/* RESPONSIVE */

@media (min-width: 800px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    header,
    footer {
        flex: 1 1 100%;
    }

    aside,
    main {
        flex: 1;
    }

    aside:nth-of-type(1) {
        order: 2;
    }

    aside:nth-of-type(2) {
        order: 4;
    }

    header {
        order: 1;
    }

    main {
        order: 3;
    }

    footer {
        order: 5;
    }

}

@media (min-width: 600px) and (max-width : 800px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    header,
    footer,
    main {
        flex: 1 1 100%;
    }

    aside {
        flex: 1;
    }
}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }
}